env
/env
env/
\env
env\
\env\
/env/
__pycache__
/__pycache__
__pycache__/
/__pycache__/
\__pycache__\
\__pycache__
__pycache__\
*.log
ipconfig.txt
config.py
/training_runs/
\training_runs\
training_runs/
/training_runs
training_runs\
\training_runs
/application_runs/
\application_runs\
application_runs/
/application_runs
application_runs\
\application_runs
tar_selection.csv
hitsmisses_archive_decisions.csv
